name: Deploy backend Application

on: 
  push:
    branches:
      - main 

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Source
        uses: actions/checkout@v4

      - name: Login to Docker Hub
        run: docker login -u ${{ secrets.DOCKER_USERNAME }} -p ${{ secrets.DOCKER_PASSWORD }}

      - name: Build Docker Image
        run: docker build -t adarsh11011/bookmitra-backend-app:latest .

      - name: Publish Image to Docker Hub
        run: docker push adarsh11011/bookmitra-backend-app:latest

  deploy:
    needs: build
    runs-on: self-hosted
    steps:
      - name: Pull Image from Docker Hub
        run: docker pull adarsh11011/bookmitra-backend-app:latest

      - name: Delete Old Container
        run: docker rm -f nodejs-app-container || true

      - name: Run Docker Container with Env Variables
        run: |
          docker run -d -p 5000:5000 \
            --name bookmitra-backend \
            -e PORT='${{ secrets.PORT }}' \
            -e MONGO_URL='${{ secrets.MONGO_URL }}' \
            -e JWT_SECRET='${{ secrets.JWT_SECRET }}' \
            adarsh11011/bookmitra-backend-app:latest

